@import url('https://fonts.googleapis.com/css?family=Akronim');
table {
border: 1px solid black;
border-collapse: collapse;
  font-family: 'Akronim', cursive;
}

thead {
background-color: #cce6ff;
}

tbody > tr:nth-child(odd) {
background-color: #ddff99;
}
